In [1]:
import selenium
import pandas as pd
import time

from selenium import webdriver  

from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [ ]:
#pip install webdriver-manager

In [2]:
#from webdriver_manager.chrome import ChromeDriverManager

In [ ]:
#driver = webdriver.Chrome(ChromeDriverManager().install())

## Scraping data for iphone 11

In [9]:
driver=webdriver.Chrome(r"C:\Users\jothu\.wdm\drivers\chromedriver\win32\92.0.4515.107\chromedriver.exe")

In [10]:
url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART"
driver.get(url)

time.sleep(2)

urls=[]
Review=[]
Ratings=[]


for i in range(50):
    
    
    for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        Ratings.append(j.text)
   
    for l in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
        Review.append(l.text)
    
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))

In [11]:
#Combining all the lists into a single dataframe
dp=pd.DataFrame({'Review': Review,
               'Ratings': Ratings})

In [12]:
dp

                                                Review Ratings
0    Really satisfied with the Product I received.....       5
1    The Best Phone for the Money\n\nThe iPhone 11 ...       5
2    Amazing phone with great cameras and better ba...       5
3    This is my first iOS phone. I am very happy wi...       5
4    Previously I was using one plus 3t it was a gr...       5
..                                                 ...     ...
495                                             Superb       5
496                                    Value for money       5
497  Nice iPhone camera quality and battery perform...       5
498  Delivery is genuine, camera was fantastic, i g...       4
499  ALL PRODUCTS IS VERY GOOD BUT THEY MUST PROVID...       4

[500 rows x 2 columns]

In [13]:
dp.to_csv('Phone.csv')

## Scraping data for lakme

In [20]:
driver=webdriver.Chrome(r"C:\Users\jothu\.wdm\drivers\chromedriver\win32\92.0.4515.107\chromedriver.exe")

In [21]:
url = "https://www.flipkart.com/lakm-eyeconic-kajal-twin-pack/product-reviews/itmf9edrxqnh8rhs?pid=KJLF7VNFP2KXUCVQ&lid=LSTKJLF7VNFP2KXUCVQTPWVRE&marketplace=FLIPKART"
driver.get(url)

time.sleep(2)

urls=[]
Review=[]
Ratings=[]


for i in range(999):
  
    
    for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        Ratings.append(j.text)
   
    for l in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
        Review.append(l.text)
    
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))

In [22]:
df=pd.DataFrame({'Review': Review,
               'Ratings': Ratings})

In [23]:
df

                                                 Review Ratings
0     good quality lakme kajal so black and long las...       5
1     you should definitely go for this kajal.. very...       5
2     great. flipkart always gives a safe packing. t...       4
3     the product is original one . packaging was go...       5
4     Super product üëçüòç.My mother ordered this as my ...       5
...                                                 ...     ...
9970                                           Loved it       5
9971                                           Nice one       5
9972                                              Super       5
9973                                           Good one       5
9974                                               Nice       5

[9975 rows x 2 columns]

In [24]:
df['Ratings'].unique()

array(['5', '4', '3', '2', '1'], dtype=object)

In [25]:
df.to_csv('lakme.csv')

## Scraping data for Samsung

In [26]:
driver=webdriver.Chrome(r"C:\Users\jothu\.wdm\drivers\chromedriver\win32\92.0.4515.107\chromedriver.exe")

In [27]:
url = "https://www.flipkart.com/samsung-guru-1200/product-reviews/itmeb6w98vmhffjy?pid=MOBDA2CFCQ6CFHTZ&lid=LSTMOBDA2CFCQ6CFHTZTQG2I7&marketplace=FLIPKART"
driver.get(url)

time.sleep(2)

urls=[]
Review=[]
Ratings=[]


for i in range(999):
  
    
    for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        Ratings.append(j.text)
   
    for l in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
        Review.append(l.text)
    
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))

In [28]:
dk=pd.DataFrame({'Review': Review,
               'Ratings': Ratings})

In [29]:
dk

                                                 Review Ratings
0     I am giving this review after 2wk of using thi...       5
1     This is My 2nd Phone as I use my iPhone for em...       5
2     This is the best phone for calls and messages ...       5
3     I HAve a micromax funbook pro which not have s...       5
4     Pros : Robust, Very long battery backup, Cheap...       5
...                                                 ...     ...
9984                                               Good       4
9985                       good phone.. value for money       5
9986                                      Good products       5
9987                good delivery and good mobile phone       5
9988                                               Good       3

[9989 rows x 2 columns]

In [30]:
dk.to_csv('samsung.csv')

## Concatenating all the three dataset

In [31]:
data=[df,dp,dk]

In [32]:
dataset=pd.concat(data)

In [33]:
dataset

                                                 Review Ratings
0     good quality lakme kajal so black and long las...       5
1     you should definitely go for this kajal.. very...       5
2     great. flipkart always gives a safe packing. t...       4
3     the product is original one . packaging was go...       5
4     Super product üëçüòç.My mother ordered this as my ...       5
...                                                 ...     ...
9984                                               Good       4
9985                       good phone.. value for money       5
9986                                      Good products       5
9987                good delivery and good mobile phone       5
9988                                               Good       3

[20464 rows x 2 columns]

In [34]:
dataset['Ratings'].unique()

array(['5', '4', '3', '2', '1'], dtype=object)

## Saving final data to csv

In [35]:
dataset.to_csv('dataset.csv')